<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
        <label>Email:</label>
        {{ form.email }}
    </div>

    <div>
        <label>Никнейм:</label>
        {{ form.nickname }}
    </div>

    <div>
        <label>Пароль:</label>
        {{ form.password }}
    </div>

    <div>
        <label>Повторите пароль:</label>
        {{ form.confirm_password }}
    </div>

    <button type="submit">Зарегистрироваться</button>
</form>

</body>
</html>